[Desktop Entry]
Exec=/opt/brave-bin/brave --profile-directory=Default --app-id=hnpfjngllnobngcgfapefoaidbinmjnm
Icon=brave-hnpfjngllnobngcgfapefoaidbinmjnm-Default
Name=WhatsApp Web
StartupWMClass=crx_hnpfjngllnobngcgfapefoaidbinmjnm
Terminal=false
Type=Application
Version=1.0
