[Desktop Entry]
Categories=Utility;
Comment=OpenRGB 0.9+ (1.0rc2), for controlling RGB lighting.
Icon=OpenRGB
Name=OpenRGB
StartupNotify=true
Terminal=false
Type=Application
Exec=/usr/bin/openrgb --startminimized --profile "Asus"
