# shellcheck disable=SC2148

alias b="bat --chop-long-lines --color=always --style='header,numbers,rule,snip'"
alias d="docker"
alias delta="delta --side-by-side"
alias f="__fzf_select --query"
alias k="kubectl"
alias ll="eza --long --all --git --modified --time-style long-iso --no-permissions --icons=always --sort=type"
alias lt="eza --long --all --git --modified --time-style long-iso --no-permissions --icons=always --sort=type --tree"
alias lsblk="lsblk -o +MODEL,SERIAL,WWN"
alias m="mise"
alias mr="mise run"
alias mc="mc --nosubshell"
alias mcedit="mc -e --nosubshell"
alias p="pacseek -ui"
alias paruf="paru -Slq | fzf --multi --preview 'sh -c \"pacpreview {1} 2>/dev/null || paru -Si {1}\"' | xargs -ro paru -Sy"
## https://wiki.archlinux.org/title/Kitty#Terminal_issues_with_SSH
[ "$TERM" = "xterm-kitty" ] && alias ssh="kitty +kitten ssh"
alias skgrep="sk --ansi -i -c 'rg --color=always --line-number \"{}\"'"
alias yay="paru"
alias wttr="curl wttr.in"
alias pi="piper-tts -m /usr/share/piper-voices/en/en_GB/cori/high/en_GB-cori-high.onnx --output_raw | aplay -r 23400 -f S16_LE -t raw"
