[Desktop Entry]
Actions=new-window;new-private-window;
Categories=Network;WebBrowser;
Comment=Access the Internet
Exec=brave --disable-gpu-vsync --disable-frame-rate-limit %U
GenericName=Web Browser
Icon=brave-desktop
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ipfs;x-scheme-handler/ipns;
Name=Brave
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=brave-browser
Terminal=false
TerminalOptions=
TryExec=brave
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=

[Desktop Action new-private-window]
Exec=brave --incognito
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;
Name=New Incognito Window

[Desktop Action new-window]
Exec=brave
Name=New Window
