[Desktop Entry]
Categories=Utility;Game;Graphics;3DGraphics;Emulator;GNOME;GTK;
Comment=Run Windows software
Exec=env GSK_RENDERER=gl bottles %u
Icon=com.usebottles.bottles
Keywords=wine;windows;gaming;emulate;emulator;game;
MimeType=x-scheme-handler/bottles;application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;application/x-wine-extension-msp;
Name=Bottles
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=bottles
Terminal=false
TerminalOptions=
TryExec=bottles
Type=Application
X-GNOME-UsesNotifications=true
X-KDE-SubstituteUID=false
X-KDE-Username=
