[Desktop Entry]
Actions=NewWorkspace;
Categories=Utility;TextEditor;Development;IDE;
Comment=A high-performance, multiplayer code editor.
Exec=env WAYLAND_DISPLAY= zeditor %U
GenericName=Text Editor
Icon=zed
Keywords=zed;
MimeType=text/plain;application/x-zerosize;x-scheme-handler/zed;
Name=Zed
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=zeditor
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=

[Desktop Action NewWorkspace]
Exec=zeditor --new %U
Name=Open a new workspace
